.header {
    grid-area: h;
    background-color: black;
}

.image {
    width: 20px;
}

.loginBlock {
    float: right;
    color: aliceblue;

}

.loginBlock a {
    color: aliceblue;
}